.container-fluid {
    min-height: 100vh;
    background: #F4F7FC;
}
#navigationBar {
    padding-top: 10px;
    padding-bottom: 10px;
    background: white;
}
.break {
    margin-top: 2.7%;
    width: 3%;
    height: 3.5%;
    margin-left: 4%;
}
.navigationBarText {
    width: 89%;
    text-align: center;
    color: #1F1F1F;
    font-size: 5vw;
    margin-top: 1.6%;
}
.publicLeft-Right{
    padding-right: 6%;
    padding-left: 6%;
}
.public_bg{
    width: 100%;
    background: white;
    border-bottom: 1px solid #EBEBEB;
}
.text1{
    color:#1F1F1F;
    font-size: 4vw;
    text-align: left;
}
.oldpassword {
    width: 100%;
    border: none;
    font-size: 3vw;
}
#buttonstyle{
    background: #FF660D;
    text-align: center;
    font-size: 4vw;
}
.icon{
	background:#FFFFFF;
	font-size: 0.8rem;
	color: #999999;
	border-radius: 0 !important;
	border: none;
	border-bottom: 1px solid #D6D6D6;
}